#
# GPIO system
#
#

menuconfig INFOTM_GPIO_CHIP
  bool "Infotm gpio chip driver support"
  help
    Infotm gpio chip driver support

if INFOTM_GPIO_CHIP

config APOLLO_GPIO_CHIP
 bool "apollo gpio chip driver support"
 help
   apollo gpio chip driver support

endif
