*.o
*.cmd
*.order
*.builtin
.config
.config.old
.version
Module.symvers
arch/arm/include/generated/
drivers/infotm/common/InfotmMedia/external/project/fpga_venc_265_h2/.version
include/config/
include/generated/
scripts/basic/fixdep
scripts/conmakehash
scripts/kallsyms
scripts/kconfig/conf
scripts/kconfig/mconf
scripts/kconfig/zconf.hash.c
scripts/kconfig/zconf.lex.c
scripts/kconfig/zconf.tab.c
scripts/mod/devicetable-offsets.h
scripts/mod/elfconfig.h
scripts/mod/mk_elfconfig
scripts/mod/modpost
scripts/pnmtologo
scripts/sortextable

