 #                                                 
 #  Input device configuration                     
 #                                                 
 #                                                 
menuconfig APOLLO3_INPUT                            
        bool "APOLLO3 input device driver support"  
        default n                                  
        help                                       
               Infotm input device driver support   
if APOLLO3_INPUT                                    
source "drivers/infotm/apollo3/input/keyboard/Kconfig"     
endif                                              

