menuconfig Q3F_KEYBOARD
	bool "q3f Keyboards and keypads"
if Q3F_KEYBOARD
	config Q3F_GPIO_KEYS
	tristate "q3f GPIO Keys"
	default n
	help
	  Say Y here if you want to use the GPIO keys of q3f.

	config Q3F_POWER_KEY_EC610
	tristate "q3f ec610 power Key"
	default n
	help
	  Say Y here if you want to use the EC610 power key of q3f.

	config Q3F_POWER_KEY_IP6205
	tristate "q3f ip6205 power Key"
	default n
	help
	  Say Y here if you want to use the IP6205 power key of q3f.

	config Q3F_POWER_KEY_IP6208
	tristate "q3f ip6208 power Key"
	default n
	help
	  Say Y here if you want to use the IP6208 power key of q3f.
	  
	config Q3F_POWER_KEY_IP6203
	tristate "q3f ip6203 power Key"
	default n
	help
	  Say Y here if you want to use the IP6203 power key of q3f.
	config Q3F_POWER_KEY_FPGA
	depends on Q3F_FPGA_PLATFORM 
	tristate "q3f fpga power Key"
	default n
	help
	  Say Y here if you want to use the IP6203 power key of q3f.
endif
