/dev/pvrsrvkm              0666   system     system
/dev/pvr_sync              0666   system     system
/dev/dbgdrv                0666   system     system
/dev/ion                   0666   system     system
/dev/imgion                0666   system     system
/dev/imgfelix0             0666   media      media
/dev/imgfelixDG0           0666   media      media
/dev/i2c-0                 0666   system     system
/sys/bus/pci/devices/0000:01:00.0/resource1 0666 system system
/dev/sw_sync               0600   system     system
/dev/adf0                  0600   system     system
/dev/adf-interface0.0      0600   system     system
/dev/adf-overlay-engine0.0 0600   system     system
/dev/imgsysbrg_vdec0       0660   media      media 
