@charset "utf-8";
.imageSlider1 { margin-left:10px;padding:0; height:8px; width:120px; background-image:url("res/small/scrollbg.bmp"); }
.imageBar1    { margin-left:10px;padding:0; height:8px; width:8px; background-image:url("res/small/scrfloat.bmp"); }

/*.imageSlider2 { margin:0;padding:0; height:18px; width:148px; background-image:url("res/scrollbg.bmp"); }
.imageBar2    { margin:0;padding:0; height:16px; width:16px; background-image:url("res/scrfloat.bmp"); }

.winSlider    { margin:0;padding:0; height:15px; width:148px; background-color:#eee; border:2px solid #EAE6DD; }
.winBar       { margin:0;padding:0; height:15px; width:10px; border:2px outset buttonhighlight; background-color:#D4D0C8; }
*/