#current
current.mode=Video #Video Photo Playback Setup
current.reverseimage=Off #On Off

#video
video.resolution=1920x1080 60fps
video.preview=360 Panorama Round
video.looprecording=3 Minutes
video.timelapsedimage=Off
video.highspeed=Off
video.wdr=Off
video.ev=0
video.datestamp=On
video.recordaudio=On

#photo
photo.resolution=4M(2448x2448)
photo.preview=360 Panorama Round
photo.modetimer=Off
photo.modeauto=Off
photo.modesequence=Off
photo.quality=Fine
photo.sharpness=Normal
photo.whitebalance=Auto
photo.color=Color
photo.isolimit=Auto
photo.ev=0
photo.antishaking=Off
photo.datestamp=Off

#setup
setup.language=ZH #EN ZH TW FR ES IT PT DE RU -------- English 简体中文 繁體中文 Français Español
setup.wifimode=Off
setup.ledfreq=Auto
setup.led=On
setup.cardvmode=Off
setup.imagerotation=Off
setup.volume=70%
setup.keytone=On
setup.autosleep=30s
setup.autopoweroff=5 Minutes
setup.delayedshutdown=10s

#external status key
setup.wifi.ap.ssid=default
setup.wifi.ap.password=default
setup.wifi.ap.keymgmt=WPA-PSK
setup.wifi.sta.ssid=default
setup.wifi.sta.password=default
setup.wifi.sta.keymgmt=default
