 #                                                 
 #  Clock device configuration                     
 #                                                 
 #                                                 
menuconfig Q3F_CLK                           
        bool "Q3F clock driver support"
		depends on COMMON_CLK
        default n                                  
        help                                       
               Infotm input device driver suport   
